#site_main{
    section{
        color: $text_color;
        padding: 100px 0;
        .container_sm{
            .section_header{
                text-align: center;
                h3{
                    @include green_title
                }
                h2{
                    font-size: 1.7rem;
                    margin-top: 40px;
                    margin-bottom: 80px;
                }
            }
            .features{
                display: flex;
                flex-wrap: wrap;
                .feature{
                    width: calc(100% / 3);
                    margin-bottom: 50px;
                    display: flex;
                   img{
                       height: 30px;
                       margin-top: 8px;
                       margin-right: 10px;
                   }
                   .text{
                       padding-right: 30px;
                       h3{
                           margin-bottom: 15px;
                       }
                   }
                }
            }
            .bottons{
                text-align: center;
            }
        }
    }
}