/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */
body, input{
    font-family: 'Poppins', sans-serif;
}

.fa-chevron-down{
    font-size: .5rem;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 1650px;
    margin: auto;
}

.container_sm{
    width: 1280px;
    margin: auto;
}

.btn-get_started{
    @include btn-getstarted;
}