/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* common rules */
body, input{
    font-family: 'Poppins', sans-serif;
}

.fa-chevron-down{
    font-size: .5rem;
    position: relative;
    top:-2px;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 1650px;
    margin: auto;
}

.container_sm{
    width: 1280px;
    margin: auto;
}

.btn-get_started{
    @include btn-getstarted;
    &:hover{
        @include btn-getstarted-hover;
    }
}
.btn_discover{
    @include btn_discover_now;
    display: block;
    padding: 20px 0;
    border-top: 1px solid $porcelain;
    &:hover{
        @include btn_discover_now-hover
    }
}
.btn-learn_more{
    @include btn-getstarted;
    color: $secondary;
    background-color: white;
    border: 1px solid $porcelain;
    margin-right: 20px;
    &:hover{
        @include btn-getstarted-hover;
    }
}
.section_header{
    text-align: center;
    h3{
        @include green_title
    }
    h2{
        font-size: 1.7rem;
        margin-top: 40px;
        margin-bottom: 80px;
    }
}