#site_main{
    .courses{
        .container{
            &>p{
                text-align: center;
                margin-top: 50px;
                a{
                    border-bottom: 1px solid $porcelain;
                }
            }
            .cards{
                display: flex;
                justify-content: space-between;
                .card{
                    cursor: pointer;
                    width: calc(100% / 4.4);
                    height: 500px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 5px;
                    position: relative;
                    .overlay{
                        height: 100%;
                        border-radius: 5px;
                        background: linear-gradient(180deg, rgba(181, 181, 181, 0) 22.4%, #000000 100%);
                    }
                    .text{
                        color: white;
                        padding: 25px;
                        position: absolute;
                        bottom: 0;
                        &>span{
                            color: $secondary;
                                font-weight: 700;
                                font-size: 1.4rem;
                                span:first-child{
                                    font-size: 1.4rem;
                                }
                                span:last-child{
                                    font-size: 1.2rem;
                                }
                        }
                        .text_hover{
                            //transition
                            transition: .5s;
                            overflow: hidden;
                            height: 0;
                            
                            font-size: .9rem;
                            line-height: 1.6rem;
                            .info{
                                margin-bottom: 10px;
                                span{
                                    padding-right: 20px;
                                    i{
                                        padding-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                    &:hover{
                        .text_hover{
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
}