#site_main{
    .explore{
            background-color: $explore_section_color;
            .container_sm{
                text-align: center;
                .section_header{
                    h2{
                        font-size: 2.7rem;
                    }
                }
                .cards{
                    display: flex;
                    justify-content: space-between;
                    .card{
                        text-align: center;
                        width: calc(100% / 3.2);
                        background-color: white;
                        border-radius: 5px;
                        box-shadow: 0px 1px 15px 1px lightgray;
                        img{
                            width: 100%;
                            border-top-left-radius: 5px;
                            border-top-right-radius: 5px;
                        }
                        .text{
                            padding: 0 35px;
                            h3{
                                margin-top: 20px;
                                margin-bottom: 15px;
                                font-weight: 600;
                            }
                            p{
                                margin-bottom: 20px;
                            }
                        }
                    }
                }
                .circles{
                    @include flex-v-center;
                    justify-content: center;
                    .circle_active{
                        font-size: .8rem;
                        margin-top: 30px;
                        padding: 10px;
                    }
                    .circle_off{
                        font-size: .5rem;
                        margin-top: 30px;
                        padding: 10px;
                        color: $silver;
                    }
                }
            }
        }
}