#site_header{
    .jumbotron{
        background-color: $primary;
        color: $text_color;
        .container{
            display: flex;
            .jumbo_text{
                width: 50%;
                padding: 180px;
                h2{
                    color: $secondary;
                    font-weight: 500;
                    font-size: 1.3rem;
                }
                h1{
                    font-size: 3rem;
                    text-transform: uppercase;
                    line-height: 3.8rem;
                    margin: 20px 0;
                }
            }
            .jumbo_img{
                width: 50%;
                position: relative;
                background-image: url('/dist/img/home-business-hero-global-image.png');
                background-repeat: no-repeat;
                img{
                    width: 60%;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
}