@mixin flex-v-center {
    display: flex;
    align-items: center;
}

@mixin btn-getstarted {
    text-align: center;
    display: inline-block;
    color: white;
    background-color: $secondary;
    font-size: .7rem;
    padding: 12px 0;
    width: 150px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}

@mixin green_title {
    color: $secondary;
    font-weight: 500;
    font-size: 1.3rem;
}

@mixin btn_discover_now {
    color: $secondary;
    cursor: pointer;
}