@mixin flex-v-center {
    display: flex;
    align-items: center;
}

@mixin btn-getstarted {
    color: white;
    background-color: $secondary;
    font-size: .7rem;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}