#site_header{
    #site_navbar{
        display: flex;
        justify-content: space-between;
        #main_logo{
            img{
                width: 150px;
            }
        }
        .links{
            a{
                @include general_link;
            }
        }
        .nav_options{
            display: flex;
        }
    }
}