#site_header{
    #site_navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        #main_logo{
            img{
                width: 150px;
            }
        }
        .links{
            a{
                @include general_link;
            }
        }
        .nav_options{
            display: flex;
            align-items: center;
            a{
                text-decoration: none;
                color: $charade;
            }
            .fa-user-circle{
                margin: 0 15px;
            }
            .search_input{
                input{
                    height: 55px;
                    padding-left: 10px;
                    border-style: none;
                    border-left: 1px solid $porcelain;
                }
            }
        }
    }
}