/* COLORS */
$logo_color: #3F3A64;
$primary: #EFF2F6;
$secondary: #2fad96;
$text_color: #333333;
$color_light: #f8f8f8;
$video_section_color:#323043;
$silver: #bcbcbc;
$porcelain: #eceeef;
$feedback_title_color: #48436B;
$bg_color_input: #F5F5F5;
$footer_color: #171621;