/* COLORS */
/* color cube */
$white: #fefefe;
$tuba: #343142;
$silver: #bcbcbc;
$mountain_meadow: #1eae96;
$boulder: #797979;
$alizarin_crimson: #e2261a;
$sungio: #df7470;
$klein_blue: #0427a1;
$torquoise: #61e6d2;
$japanese_maple: #780601;