/* COLORS */
$logo_color: #3F3A64;
$primary: #EFF2F6;
$secondary: #2fad96;
$text_color: #333333;
$color_light: #f8f8f8;
$video_section_color:#323043;
$silver: #bcbcbc;
$porcelain: #eceeef;

/* color cube */
$white: #fefefe;
$tuba: #343142;
$mountain_meadow: #1eae96;
$boulder: #797979;
$alizarin_crimson: #e2261a;
$sungio: #df7470;
$klein_blue: #0427a1;
$torquoise: #61e6d2;
$japanese_maple: #780601;
/* median cut */
$charade: #282935;
$au_chico: #8c6157;
$sandal: #9f8c67;
/* material design */
$dorado: #5d5450;
$thunderbird: #c92217;
$sand_dune: #81695e;
$link_water: #ecf2f9;