#site_main{
    .video_section{
        background-color: $video_section_color;
        background-image: 
        url(../../dist/img/globe_dot.png), 
        url(../../dist/img/maxcoach-shape-07.png);
        background-repeat: no-repeat;
        background-size: 57%, 8%;
        background-position: right top, 5% 95%;
        .container{
            display: flex;
            .cover_video{
                width: 650px !important;
                height: 450px;
                width: 50%;
                margin: 80px;
                background-image: url(../../dist/img/home-business-video-poster-670x450.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px;
                @include flex-v-center;
                justify-content: center;
                img{
                    cursor: pointer;
                }
            }
            .video_text{
                width: calc(1280px / 2);
                color: white;
                h2{
                    margin-bottom: 25px;
                }
                .faq{
                    border-bottom: 1px solid rgba(211, 211, 211, 0.473);
                    .h3_active{
                        color: $secondary;
                    }
                    h3{
                        cursor: pointer;
                        padding: 20px 0;
                        i{
                            padding-right: 15px;
                        }
                    }
                    p{
                        font-size: .9rem;
                        line-height: 1.7rem;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
}