#site_main{
    .video_section{
        background-color: $video_section_color;
        background-image: url(../../dist/img/home-business-hero-global-image.png), url(../../dist/img/maxcoach-shape-07.png);
        background-repeat: no-repeat;
        background-size: 60%, 8%;
        background-position: 120% 90%, 5% 95%;
        .container{
            display: flex;
            .cover_video{
                width: 650px !important;
                height: 450px;
                width: 50%;
                margin: 80px;
                background-image: url(../../dist/img/home-business-video-poster-670x450.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px;
                @include flex-v-center;
                justify-content: center;
                img{
                    cursor: pointer;
                }
            }
            .video_text{
                width: calc(1280px / 2);
                color: white;
                h2{
                    font-size: 2.7rem;
                }
            }
        }
    }
}